# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- List the commonly used tools in Data Science
- Create and format markdown cells in a Jupyter Notebook
- Perform arithmetic operations using Python code cells

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib

| Data Science Tools         |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Visual Studio Code        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author

Amaan Ahmed